.boxFloor {
    height: 44px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    padding: 13px 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rangeText {
        display: flex;
        gap: 31px;
        justify-content: center;

        .rangeText__text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;

            span {
                color: #646464;
            }
        }
    }
}

.sliderContainer {
    position: relative;
    top: -4px;
    left: 14px;
    width: 266px;
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.thumb {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 24px;
    background: none;
    pointer-events: none;
    z-index: 2;
}

.thumbLeft {
    z-index: 3;
}

.thumbRight {
    z-index: 4;
}

.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6px;
    width: 6px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    z-index: 10;
    margin-top: 0px;
}

.thumb::-moz-range-thumb {
    height: 6px;
    width: 6px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

